body {
    background: #fff;
    margin: 8px;
    font-family: Arial, sans-serif;
}

a {
    color: #00f;
    text-decoration: underline;
}

#header {
    background: #0072bc;
    padding: 8px;
}

#header-img {
    background: #fff;
    padding: 8px;
}

#nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    padding: 2px;
    padding-left: 4px;
    border-left: solid 3px #fff;
    cursor: pointer;
    margin-top: 4px;
}

#nav a:hover {
    background: #00436f;
}

@media screen and (max-width: 550px) {
    #header-img {
        max-width: 100%;
        max-width: -moz-available;
        max-width: -webkit-fill-available;
        max-width: stretch;
        object-fit: contain;
    }

    #nav {
        flex-direction: column;
    }
}

#page-body {
    white-space: pre-line;
    max-width: 1200px;
    margin-left: auto; margin-right: auto;
}

#page-body h1 {
    margin-bottom: 0;
    border-bottom: 3px solid #0072bc;
    padding-bottom: 8px;
}

#footer {
    margin-left: auto; margin-right: auto;
    text-align: center;
    margin-top: 200px;
}